*.pyc
*.pyo
*.class
*~
*#
/docs/generated/*
/docs/_build
/runpy
/build
.coverage*
.idea**
.history**
.cache**
.eggs**
*.egg**
.*.swp
.mypy_cache
.pytest_cache
.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log

